/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: gray;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.cards_item {
  display: flex;
  justify-content: center;
  padding: 1rem;
  min-width: 33.3333%;
}

@media (min-width: 640px) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 896px) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.options {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.options2 {
  display: flex;
  justify-content: center;
}

.panel_nav {
  height: 50px;
  width: 100%;
  background-color: white;
}

.panel_nav > .panek_nav-header {
  display: inline;
}

.panek_nav > .panel_nav-header > .panel_nav-title {
  display: inline-block;
  font-size: 22px;
  color: gray;
  padding: 10px 10px 10px 10px;
}

.panel_nav > .panel_nav-btn {
  display: none;
}

.panel_nav > .panel_nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.panel_nav > .panel_nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: gray;
}

.panel_nav > .panel_nav-links > a:hover {
  background-color: #ed5370;
  color: white;
}

.panel_nav > #panel_nav-check {
  display: none;
}

@media (max-width: 400px) {
  .panel_nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
  }

  .panel_nav > .panel_nav-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
  }
}
